.homepage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.link {
    padding: 0 10px;
    align-self: center;
}