.login-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: white;
    padding: 100px 100px;
    border: 1px solid rgba(black, 0.2);
    border-radius: 5px;
}

.form-item {
    margin: 8px 0 8px 0;
}

.form-item:last-of-type {
    margin-top: 50px;

    Button {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
}